In [13]:
import numpy as np
import pandas as pd
from sklearn import tree

In [41]:
antmDataset = pd.read_csv('BBCA.JK.csv')
print(antmDataset)

          Date    Open    High     Low   Close     AdjClose     Volume  Buy
0   2022-03-21  7800.0  7950.0  7800.0  7900.0  7750.496094   85485500  Yes
1   2022-03-22  7900.0  7950.0  7875.0  7925.0  7775.022949   60010900   No
2   2022-03-23  7925.0  7950.0  7825.0  7900.0  7750.496094   82208000  Yes
3   2022-03-24  7850.0  7950.0  7800.0  7925.0  7775.022949   95245100  Yes
4   2022-03-25  7900.0  7950.0  7900.0  7950.0  7799.549805   85101200   No
5   2022-03-28  7825.0  7900.0  7800.0  7900.0  7869.277832   83911500   No
6   2022-03-29  7875.0  7900.0  7825.0  7850.0  7819.472168   62180600  Yes
7   2022-03-30  7900.0  7900.0  7825.0  7875.0  7844.375000   71430600  Yes
8   2022-03-31  7925.0  8000.0  7875.0  7975.0  7943.985840  112691900  Yes
9   2022-04-01  8075.0  8075.0  7850.0  7925.0  7894.180664  105575400   No
10  2022-04-04  7925.0  7925.0  7825.0  7900.0  7869.277832   57321200  Yes
11  2022-04-05  7900.0  7900.0  7850.0  7900.0  7869.277832   48528300  Yes
12  2022-04-06  7825.0  7850.0  7750.0  7750.0  7719.860840  119263000  Yes
13  2022-04-07  7725.0  7825.0  7700.0  7750.0  7719.860840   68619400   No
14  2022-04-08  7800.0  7875.0  7775.0  7850.0  7819.472168   69791600   No
15  2022-04-11  7825.0  7875.0  7725.0  7725.0  7694.958008   62776200  Yes
16  2022-04-12  7725.0  7800.0  7700.0  7800.0  7769.666504   73471300   No
17  2022-04-13  7800.0  7850.0  7750.0  7800.0  7769.666504   57622100  Yes
18  2022-04-14  7800.0  7800.0  7700.0  7700.0  7670.055664   93342900  Yes
19  2022-04-18  7700.0  7725.0  7625.0  7700.0  7670.055664   68464700   No
20  2022-04-19  7700.0  7700.0  7625.0  7625.0  7595.347168   98632000   No
21  2022-04-20  7725.0  7725.0  7625.0  7650.0  7620.250000  124388800  Yes
22  2022-04-21  7800.0  7925.0  7750.0  7925.0  7894.180664  129323400  Yes
23  2022-04-22  7850.0  7925.0  7800.0  7875.0  7844.375000   85956100   No
24  2022-04-25  7875.0  8000.0  7825.0  8000.0  7968.888672   91279600   No
25  2022-04-26  7925.0  8125.0  7925.0  8125.0  8093.402832  128360900  Yes
26  2022-04-27  8075.0  8200.0  8075.0  8200.0  8168.110840   89463100   No
27  2022-04-28  8250.0  8250.0  8075.0  8125.0  8093.402832  133730600  Yes
28  2022-05-09  7875.0  7900.0  7600.0  7600.0  7570.444336  456796600  Yes
29  2022-05-10  7250.0  7600.0  7250.0  7525.0  7495.735840  268445700   No
30  2022-05-11  7525.0  7700.0  7450.0  7650.0  7620.250000  156535200   No
31  2022-05-12  7525.0  7550.0  7275.0  7275.0  7246.708008  240529600   No
32  2022-05-13  7250.0  7475.0  7250.0  7325.0  7296.513672  212968600  Yes
33  2022-05-17  7275.0  7475.0  7275.0  7400.0  7371.222168  159657600   No
34  2022-05-18  7500.0  7575.0  7375.0  7575.0  7545.541504  153514300  Yes
35  2022-05-19  7400.0  7475.0  7375.0  7450.0  7421.027832  140908900  Yes
36  2022-05-20  7425.0  7475.0  7400.0  7400.0  7371.222168   86520200   No
37  2022-05-23  7450.0  7475.0  7350.0  7375.0  7346.319336   71603500   No
38  2022-05-24  7325.0  7475.0  7325.0  7350.0  7321.416504  108710800  Yes
39  2022-05-25  7400.0  7450.0  7350.0  7375.0  7346.319336   76747400  Yes
40  2022-05-27  7525.0  7575.0  7475.0  7575.0  7545.541504   84336900  Yes
41  2022-05-30  7575.0  7600.0  7475.0  7575.0  7545.541504  105411400   No
42  2022-05-31  7600.0  7750.0  7525.0  7750.0  7719.860840  286292700  Yes
43  2022-06-02  7625.0  7675.0  7525.0  7575.0  7545.541504  149226300  Yes
44  2022-06-03  7600.0  7675.0  7575.0  7600.0  7570.444336   80563100  Yes
45  2022-06-06  7550.0  7575.0  7425.0  7450.0  7421.027832   81140300  Yes
46  2022-06-07  7300.0  7475.0  7300.0  7375.0  7346.319336  129242500  Yes
47  2022-06-08  7500.0  7600.0  7425.0  7600.0  7570.444336  108910500  Yes
48  2022-06-09  7500.0  7575.0  7500.0  7500.0  7470.833008  107828300  Yes

In [42]:
antmDataset.head()

         Date    Open    High     Low   Close     AdjClose    Volume  Buy
0  2022-03-21  7800.0  7950.0  7800.0  7900.0  7750.496094  85485500  Yes
1  2022-03-22  7900.0  7950.0  7875.0  7925.0  7775.022949  60010900   No
2  2022-03-23  7925.0  7950.0  7825.0  7900.0  7750.496094  82208000  Yes
3  2022-03-24  7850.0  7950.0  7800.0  7925.0  7775.022949  95245100  Yes
4  2022-03-25  7900.0  7950.0  7900.0  7950.0  7799.549805  85101200   No

In [43]:
antmDataset["Buy"] = pd.factorize(antmDataset.Buy)[0]
antmDataset.head()

         Date    Open    High     Low   Close     AdjClose    Volume  Buy
0  2022-03-21  7800.0  7950.0  7800.0  7900.0  7750.496094  85485500    0
1  2022-03-22  7900.0  7950.0  7875.0  7925.0  7775.022949  60010900    1
2  2022-03-23  7925.0  7950.0  7825.0  7900.0  7750.496094  82208000    0
3  2022-03-24  7850.0  7950.0  7800.0  7925.0  7775.022949  95245100    0
4  2022-03-25  7900.0  7950.0  7900.0  7950.0  7799.549805  85101200    1

In [44]:
antmDataset = antmDataset.drop(labels="Date", axis=1)

In [45]:
antmDataset = antmDataset.to_numpy()

In [46]:
dataTraining = np.concatenate((antmDataset[0:40, :], antmDataset[50:90, :]), axis=0)
dataTesting = np.concatenate((antmDataset[40:50, :], antmDataset[90:100, :]), axis=0)

In [51]:
inputTraining = dataTraining[:,0:4]
inputTesting = dataTesting[:, 0:4]
labelTraining = dataTraining[:, 6]
labelTesting = dataTesting[:, 4]

In [52]:
model = tree.DecisionTreeClassifier()

In [53]:
model = model.fit(inputTraining, labelTraining)

In [54]:
hasilPrediksi = model.predict(inputTesting)
print("Label Sebenarnya : ", labelTesting)
print("Hasil Prediksi : ", hasilPrediksi)

Label Sebenarnya :  [7545.541504 7545.541504 7719.86084  7545.541504 7570.444336 7421.027832
 7346.319336 7570.444336 7470.833008]
Hasil Prediksi :  [1. 1. 1. 1. 1. 1. 1. 0. 0.]

In [55]:
prediksiBenar = (hasilPrediksi == labelTesting).sum()
prediksiSalah = (hasilPrediksi != labelTesting).sum()
print("Prediksi Benar : ", prediksiBenar, "data")
print("Prediksi Salah : ", prediksiSalah, "data")
print("akurasi : ", prediksiBenar/(prediksiBenar+prediksiSalah) * 100, "%")

Prediksi Benar :  0 data
Prediksi Salah :  9 data
akurasi :  0.0 %